.grid-o-wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.grid-content-wrapper {
    width: 94%;
    max-width: 1500px;
    align-self: center;

    display: flex;
    flex-direction: column;
}

.g-c-header {
    margin-bottom: 40px;
    height: fit-content;
    width: fit-content;

    background: transparent;
    display: flex;
    position: relative;
    align-items: center;
}

.g-c-header-line {
    position: absolute;
    bottom: -6px;
    height: 3px;
    width: 75%;

    background-color: var(--cyan);
}

.g-c-header-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.05px;
    color: var(--main-white);
    line-height: auto;
}

.g-c-grid {
    display: grid;
    position: relative;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(8, 165px);
    column-gap: 20px;
    row-gap: 20px;
}

@media screen and (max-width: 1555px) {
    .g-c-grid {
        grid-template-columns: repeat(7, 1fr);
        row-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1.05)!important;
    }
}

@media screen and (max-width: 1350px) {
    .grid-item-t1 {
        height: calc(385px * 1)!important;
    }
}

@media screen and (max-width: 1220px) {
    .grid-item-t1 {
        height: calc(385px * 0.92)!important;
    }
}

@media screen and (max-width: 1200px) {
    .g-c-grid {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1)!important;
    }
}

@media screen and (max-width: 1150px) {
    .grid-item-t1 {
        height: calc(385px * 0.95)!important;
    }
}

@media screen and (max-width: 1030px) {
    .g-c-grid {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1.05)!important;
    }
}

@media screen and (max-width: 920px) {
    .grid-item-t1 {
        height: calc(385px * 0.93)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.9)!important;
    }
}

@media screen and (max-width: 822px) {
    .g-c-grid {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1.06)!important;
    }
}

@media screen and (max-width: 752px) {
    .grid-item-t1 {
        height: calc(385px * 0.95)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.9)!important;
    }
}

@media screen and (max-width: 653px) {
    .grid-item-t1 {
        height: calc(385px * 0.88)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.9)!important;
    }
}

@media screen and (max-width: 700px) {
    .g-c-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
        column-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1.08)!important;
    }
}

@media screen and (max-width: 615px) {
    .grid-item-t1 {
        height: calc(385px * 0.93)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.9)!important;
    }
}

@media screen and (max-width: 1350px) {
    .g-c-header-heading {
        font-size: calc(30px * 0.9)!important;
    }
}

@media screen and (max-width: 1142px) {
    .g-c-header-heading {
        font-size: calc(30px * 0.85)!important;
    }
}

@media screen and (max-width: 708px) {
    .g-c-header-heading {
        font-size: calc(30px * 0.7)!important;
    }

    .h-s-1-gap {
        display: none;
        height: 0px!important;
    }
}

@media screen and (max-width: 455px) {
    .grid-item-t1 {
        height: calc(385px * 0.88)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.88)!important;
    }

    .media-grid-item-i-w {
        height: calc(260px * 0.6)!important;
    }

    .media-grid-item-i {
        height: calc(260px * 0.6)!important;
    }

    .media-grid-item {
        height: calc(260px * 0.6)!important;
    }

    .media-grid-item-v-w {
        width: calc(470px * 0.6);
    }

    .media-grid-item-i-v {
        width: calc(500px * 0.6);
        height: calc(290px * 0.6);
    }

    .media-grid {
        padding-bottom: 10px;
    }
}

.loadingGridContent {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
    background: var(--main-bg);
    opacity: .5;
}

@media screen and (max-width: 435px) {

    .grid-item-t1 {
        height: calc(385px * 0.85)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.85)!important;
    }

    .t1-col2-name-text {
        display: inline-block;
        font-size: calc(16px * 0.85)!important;
        line-height: 19px;
        margin-top: 4px;
    }

    .t1-col1-year-text {
        font-size: calc(16px * 1)!important;
        font-weight: 300;
    }

    .t1-col1-text {
        font-size: calc(16px * 1)!important;
        text-align: center;
    }

    #t1-col1-rating-svg {
        height: calc(16px * 0.85);
        width: calc(16px * 0.85);
    }
}

@media screen and (max-width: 400px) {
    .g-c-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
        column-gap: 15px;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(245px * 1.14)!important;
    }

    .grid-item-t1 {
        height: calc(385px * 1.05)!important;
    }

    .t1-col2-name-text {
        display: inline-block;
        font-size: calc(16px * 1)!important ;
        line-height: 20px;
        margin-top: 4px;
    }

    .t1-col1-year-text {
        font-size: calc(16px * 1)!important ;
        font-weight: 300;
    }

    .t1-col1-text {
        font-size: calc(16px * 1)!important ;
        text-align: center;
    }

    #t1-col1-rating-svg {
        height: 14.4px;
        width: 14.4px;
    }
}

@media screen and (max-width: 370px) {
    .grid-item-t1 {
        height: calc(385px * 0.95)!important;
    }

    .grid-item-t1-bd-wrapper {
        height: calc(242px * 0.95)!important;
    }

    .t1-col2-name-text {
        display: inline-block;
        font-size: calc(16px * 0.85)!important;
        line-height: 19px;
        margin-top: 4px;
    }

    .t1-col1-year-text {
        font-size: calc(16px * 1)!important;
        font-weight: 300;
    }

    .t1-col1-text {
        font-size: calc(16px * 1)!important;
        text-align: center;
    }

    #t1-col1-rating-svg {
        height: calc(16px * 0.85);
        width: calc(16px * 0.85);
    }
}