.grid-o-wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--main-bg);
    position: relative;
}

.grid-content-wrapper {
    width: 92%;
    max-width: 1500px;
    align-self: center;

    display: flex;
    flex-direction: column;
}

.g-c-header {
    margin-bottom: 40px;
    height: fit-content;
    width: fit-content;

    background: transparent;
    display: flex;
    position: relative;
    align-items: center;
}

.g-c-header-line {
    height: 30px;
    width: 4px;
    margin-left: 0px;
    margin-right: 15px;

    background-color: var(--cyan);
}

.g-c-header-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.05px;
    color: var(--main-white);
    line-height: auto;
}

.g-c-grid {
    display: grid;
    position: relative;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(8, 165px);
    column-gap: 20px;
    row-gap: 25px;
}

@media screen and (max-width: 1620px) {
    .g-c-grid {
        grid-template-columns: repeat(7, 165px);
        row-gap: 20px;
    }
}

@media screen and (max-width: 1385px) {
    .g-c-grid {
        grid-template-columns: repeat(6, 165px);
    }
}

@media screen and (max-width: 1175px) {
    .g-c-grid {
        grid-template-columns: repeat(5, auto);
    }
}

@media screen and (max-width: 980px) {
    .g-c-grid {
        grid-template-columns: repeat(5, 145px);
        column-gap: 30px;
    }
}

@media screen and (max-width: 950px) {
    .g-c-grid {
        grid-template-columns: repeat(4, 180px);
        column-gap: 35px;
    }
}

@media screen and (max-width: 890px) {
    .g-c-grid {
        column-gap: 15px;
    }
}

@media screen and (max-width: 845px) {
    .g-c-grid {
        column-gap: 10px;
    }
}

@media screen and (max-width: 807px) {
    .g-c-grid {
        column-gap: 40px;
        row-gap: 35px;
        grid-template-columns: repeat(3, 180px);
    }

    .grid-item-t1 {
        width: 190px!important;
    }
}

@media screen and (max-width: 700px) {
    .g-c-grid {
        row-gap: 20px;
        column-gap: 0px;

        grid-template-columns: repeat(3, auto);
    }

    .grid-item-t1 {
        width: 165px!important;
    }
}

@media screen and (max-width: 608px) {
    .g-c-grid {
        grid-template-columns: repeat(3, 140px);
        column-gap: 40px;
    }
}

@media screen and (max-width: 580px) {
    .g-c-grid {
        column-gap: 20px;
        grid-template-columns: repeat(3, 135px);
    }

    .grid-item-t1 {
        width: 135px!important;
    }
    
    .grid-item-t1-bd-wrapper {
        height: 210px!important;
    }

    .grid-item-bd {
        height: 210px!important;
    }
}

@media screen and (max-width: 500px) {
    .g-c-grid {
        grid-template-columns: repeat(2, 175px);
        column-gap: 45px;
        row-gap: 45px;
    }

    .grid-item-t1 {
        width: 175px!important;
    }

    .grid-item-t1-bd-wrapper {
        height: 260px!important;
    }

    .grid-item-bd {
        height: 260px!important;
    }
}

@media screen and (max-width: 500px) {
    .g-c-grid {
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media screen and (max-width: 440px) {
    .g-c-grid {
        grid-template-columns: repeat(2, 165px)!important;
    }

    .grid-item-t1 {
        width: 165px!important;
        height: 474px!important;
    }
}

@media screen and (max-width: 1350px) {
    .g-c-header-heading {
        font-size: 26px;
    }

    .g-c-header-line {
        height: 33px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1142px) {
    .g-c-header-heading {
        font-size: 24px;
    }

    .g-c-header-line {
        height: 30px;
    }

}

