.movie-r-wrapper {
    width: 100%;
    height: fit-content;

    position: relative;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info-sec-bg-wrapper {
    width: 100%;
    height: 550px;

    background: transparent;
    position: absolute;
    top: 0px;
}

.movie-info-sec-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.movie-info-sec-bg-overlay {

    width: 100%;
    height: 100%;

    background: var(--main-bg);
    opacity: .75;

    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;

}

.movie-r-inner {
    width: 94%;
    max-width: 1500px;

    background: transparent;
    height: fit-content;

    display: flex;
    flex-direction: column;
    z-index: 1;
}

.movie-info-sec-wrapper {
    width: 100%;
    height: 550px;
    background: transparent;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-info-sec-d-wrapper {
    width: 100%;
    height: fit-content;
    flex-direction: row;
    display: flex;
    /* The gap will change depending on the screen size */
    column-gap: 30px;
}

.movie-info-sec-d-i {
    width: 255px;
    height: 410px;

    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#movie-info-sec-d-i {
    width: 255px;
    height: 410px;
}


.movie-info-sec-details-col2 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.movie-info-sec-details-col2-row1 {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.movie-info-sec-details-col2-row1-header {
    color: var(--main-white);
    font-style: normal;
    line-height: normal;

    font-weight: 600;
    font-size: 30px;
}

.movie-info-sec-details-col2-row1-year {
    font-weight: 300;
}

.movie-info-sec-details-col2-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.movie-info-sec-details-col2-row2-col1-text {
    padding: 1px 6px;
    border: solid .5px rgba(255, 255, 255, 0.459);

    color: var(--sec-white);
    font-style: normal;
    font-weight: 300;
}

.movie-info-sec-details-col2-row2-col1 {
    margin-right: 20px;
}

.movie-info-sec-details-c2-r2-c2 {
    width: fit-content;
    height: fit-content;
}

.movie-info-sec-details-c2-r2-c2-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-info-sec-details-c2-r2-c2-item {
    width: fit-content;
    height: fit-content;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-info-details-c2-r2-c2-item-text {
    font-style: normal;
    font-size: 16px;
    color: var(--sec-white);
}

.movie-info-sec-details-c2-r2-c2-list-gap {
    margin-right: 10px;
    margin-left: 10px;

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--rd-white);

}

.movie-info-sec-details-col2-row3 {
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
}

.movie-info-sec-bts-wraper {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.movie-info-sec-btn {
    height: 40px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#m-i-s-btn1 {
    width: 130px;
    border: solid 1px var(--main-white);
    border-radius: 2px;
}

.movie-info-sec-btn:hover {
    opacity: .8;
}

#m-i-s-btn2-text {
    color: var(--main-white);
}

.movie-info-sec-btn-text {
    color: var(--main-white);
    font-size: normal;

    font-style: normal;
    line-height: normal;
}

.movie-info-sec-btn-2-playsvg {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.movie-info-sec-details-col2-row4 {
    margin-top: 15px;
    margin-bottom: 20px;
    height: fit-content;
    width: 94%;
    max-width: 1100px;
}

.movie-info-overview {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.movie-info-overview-header {
    color: var(--main-white);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.movie-info-overview-text {
    color: var(--sec-white);
}

.movie-info-tagline {
    font-size: 18px;
    color: var(--fr-white);
    font-style: italic;
}

.not-released {
    cursor: not-allowed!important;
}


.movie-info-sec-bg-overlay-rg {

    width: 100%;
    height: 100%;

    background: radial-gradient(transparent, #0B182F99);

    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
}

.movie-player-wrapper {
    z-index: 2;
    margin-top: 90px;
    width: 94%;
    max-width: 1500px;
    position: relative;
    height: fit-content;

    min-height: 35vw;
    height: fit-content;
    max-height: 48vw;
    background: #102241;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoElement {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
}

.movie-info-sec-bg-wrapper.video-playing {
    height: 90vh;
}

.movie-info-sec-bg-wrapper.video-playing .movie-info-sec-bg-overlay-rg {
    background: linear-gradient(to bottom, transparent, var(--main-bg));
}

.h2-message {
    font-size: normal;
    font-weight: normal;
    color: var(--main-white);
}

.movie-info-sec-wrapper.p-less {
    padding-top: 20px!important;
}

@media screen and (max-width: 872px) {
    .movie-info-sec-d-i {
        width: calc(255px * 0.8);
        height: calc(410px * 0.8);
    }

    #movie-info-sec-d-i {
        width: calc(255px * 0.8);
        height: calc(410px * 0.8);    
    }

    .movie-info-sec-details-col2-row1-header {
        font-size: calc(30px * 0.8);
    }

    .movie-info-details-c2-r2-c2-item-text, .movie-info-sec-details-col2-row2-col1-text{
        font-size: calc(16px * 0.9);
    }

    .movie-info-sec-details-col2-row2 {
        margin-bottom: calc(30px * 0.7);
    }

    .movie-info-sec-details-col2-row3 {
        margin-bottom: calc(20px * 0.6)
    }

    .movie-info-sec-btn {
        width: calc(130px * 0.6);
        height: calc(40px * 0.95);
    }

    #m-i-s-btn2 {
        width: 130px;
    }

    .movie-info-overview-header {
        font-size: calc(20px * 0.9);
    }

    .movie-info-overview-text {
        font-size: calc(16px * 0.9);
        width: 100%;    
    }

    .movie-info-sec-wrapper {
        padding-top: calc(70px * 0.85);
        height: calc(550px * 0.8);
    }

    .movie-info-sec-details-col2-row4 {
        width: 100%;
    }

    .movie-info-sec-bg-wrapper {
        height: calc(550px * 0.85);
    }
    
    .cast-header {
        font-size: calc(24px * 0.9);
    }

    .cast-grid-item {
        width: calc(172px * 0.85);
        height: calc(370px * 0.85);
    }

    .cast-grid-item-i {
        width: calc(172px * 0.85);
        height: calc(235px * 0.85);
    }

    .movie-info-sec-wrapper.p-less {
        padding-top: 5px!important;
    }

    .media-checkbox-text {
        font-size: calc(19px * 0.9);
    }

    .media-wrapper-header {
        font-size: calc(24px * 0.9);
    }

    .media-grid-item {
        height: calc(260px * 0.8);
    }

    .media-grid-item-i {
        height: calc(260px * 0.8);
    }

}

@media screen and (max-width: 705px) {
    .movie-info-sec-d-i {
        display: none;
    }

    .movie-info-sec-wrapper {
        padding-top: calc(70px * 1);
    }

    .movie-info-sec-wrapper.p-less {
        padding-top: 35px!important;
        height: fit-content;
    }

    .cast-grid-item {
        width: calc(172px * 0.75);
        height: calc(370px * 0.75);
    }

    .cast-grid-item-i {
        width: calc(172px * 0.75);
        height: calc(235px * 0.75);
    }

    .cast-header {
        font-size: calc(24px * 0.85);
    }

    .media-checkbox-text {
        font-size: calc(19px * 0.85);
    }

    .media-wrapper-header {
        font-size: calc(24px * 0.85);
    }

    .media-checkbox-wrapper {
        margin-right: 0px;
    }
    
    .media-w-h-c-wrapper {
        gap: 25px;
    }

    .media-wrapper-h-t-wrapper {
        margin-right: 40px;
    }

    .cast-grid-item-details-rname {
        margin-bottom: 0px;
    }

    .cast-grid-item-details-rname-text, .cast-grid-item-details-cname-text {
        font-size: calc(16px * 0.9);
    }

}

@media screen and (max-width: 600px) {
    .movie-player-wrapper {
        width: 100%;
        margin-top: 57px;

        min-height: 50vw;
        background: #000000;
    }

    .movie-info-sec-wrapper.p-less {
        padding-top: 25px!important;
    }

    .tv-e-details-header-text, .tv-e-details-header-text span {
        font-size: calc(22px * 0.85);
    }

    .tv-e-details-header-date {
        font-size: calc(18px * 0.85);
    }

    .tv-e-s-btn {
        font-size: calc(16px * 0.95);
        
    }

    .tv-e-btn-svg {
        width: 18px;
        height: 18px;
        top: 12px;
        left: 11px;
    }

    .tv-e-details-header-s-wrapper {
        width: 120px;
    }

    .tv-e-s-btn-wrapper {
        height: 40px;
        padding-left: 26px;
        background: #0a265a;
    }
    
    .tv-e-details-header {
        align-items: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .media-checkbox-text {
        font-size: calc(19px * 0.8);
    }

    .media-wrapper-header {
        font-size: calc(24px * 0.8);
    }

    .cast-header {
        font-size: calc(24px * 0.8);
    }

    .movie-info-sec-details-col2-row1-header{
        font-size: calc(24px * 0.9);
    }   

    .movie-info-details-c2-r2-c2-item-text, .movie-info-sec-details-col2-row2-col1-text {
        font-size: calc(14.4px * 0.95);
    }
    #m-i-s-btn1 {

        height: calc(40px * 0.9);
        width: 130px;

    }

    .movie-info-tagline {
        font-size: calc(18px * 0.95);
    }
}

@media screen and (max-width: 400px) {

    .tv-e-details-header-date {
        font-size: calc(18px * 0.75);
    }

    .tv-e-details-header-text, .tv-e-details-header-text span  {
        font-size: calc(22px * 0.77);
    }

    .movie-info-sec-details-col2-row1-header {
        font-size: calc(24 * 0.8);
    }

    .movie-info-tagline {
        font-size: calc(18px * 0.9);
    }

    .movie-info-sec-btn-text {
        font-size: calc(18px * 0.8);
    }

    #m-i-s-btn1 {
        width: 105px;
        height: 32px;
    }

    .movie-info-sec-btn svg {
        width: calc(22px * 0.8);
        height: calc(21px * 0.8);
    }

    .movie-info-overview-header {
        font-size: calc(20px * 0.85);
    }

    .movie-info-overview-text {
        font-size: calc(16px * 0.85);
    }

    .movie-info-sec-details-col102-row3 {
        margin-bottom: 0px;
    }

    .cast-header {
        font-size: calc(24px * 0.7);
    }

    .media-wrapper-header {
        font-size: calc(24px * 0.7);
    }

    .media-checkbox-text {
        font-size: calc(19px * 0.7);
    }

    .media-wrapper-h-t-wrapper {
        margin-right: 20px;
    }

    .media-w-h-c-wrapper {
        grid-gap: 15px;
        gap: 15px;
    }

}

@media screen and (max-width: 430px) {
    .tv-info-sec-details-col2-row2 {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0px;
    }

    .tv-info-sec-details-col2-row2-col1-text {
        border: none;
        padding: 0px;
    }
}