@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* All the font families required */
/* 1500px is the base for max width */

:root {
	--cyan: #76F5D7; 
	--main-bg: #0B182F;
	--h-bg: #0b182ff1; 
	--sec-white: #F1F1F1;
	--main-white: #FFFFFF;
	--rd-white: #BBBBBB;
	--ft-white: #DDDDDD;
	--fr-white: #d4d4d4;
	--card-bg: rgba(223, 232, 249, 0.05);
	--login-btn-bg: #585c6442; 
	--d-cyan: #559988; 
	--n-bg: #050b16;
	--h-1-white: #FCFCFC;
	--star-yellow: #ECA51B;
	--i-btn-bg: rgba(240, 240, 240, 0.05); 
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", "Roboto", "Open Sans";
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--main-bg);

}

@media screen and (max-width: 1550px) {
	.h-s-1-gap {
		height: 40px!important;
	}
}

@media screen and (max-width: 800px) {
	.h-s-1-gap {
		height: 30px!important;
	}
}

::-webkit-scrollbar { width: 12px; height: 10px;}
::-webkit-scrollbar-track {  background-color: #ffffff05;}
::-webkit-scrollbar-track-piece { background-color: #ffffff06;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ffffff20; border-radius: 2px;}
::-webkit-scrollbar-corner { background-color: #ffffff20;}
::-webkit-resizer { background-color: #ffffff20;}